
@media screen and (max-width: 575px){
    header #promo a {
        margin-left: 10px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}


@media screen and (max-width: 480px) {
    main{
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    
    
    .container-1{
        display: flex;
        flex-direction: column;
        h1{
            margin-top: 40px;
            margin-bottom:40px;
            display: flex;
            font-size: 25px;
            font-weight: bolder;
        }
        .container-card{
            flex-direction: column-reverse;
            display: flex;
            width: 100%;
            height: 100%;
            .card-text{
                position: relative;
                bottom: 10px;
                width: auto;
                height: auto;
                padding: 30px;
                background-color: rgb(192, 66, 5);
                h3{
                    color: white;
                    font-size:$h1-fs-phone;
                    margin: 0;
                }
                p{
                    padding: 10px 10px 10px 0px;
                    color: white;
                    font-size: $p-fs-phone;
                }
                button{
                    margin-top: 25px;
                    border-radius: 30px;
                    border: none;
                    padding:10px 15px 10px 15px;
    
                    a{
                        text-decoration: none;
                        font-weight: bold;
                        color: black;
                    }
                }
            }
            .card-img{
                width: auto;
                height: auto;
                a{
                    span{
                        img{
                            width: 100%;
                            height: 31rem;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    
    .container-2{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        .container-card-2{
            display: flex;
            flex-direction: column;
            margin: calc(1.25rem / 2 * -1);
            .card-2-img{
                width: 95%;
                height: 100%;
                margin: 10px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .card-2-text{
                width: 95%;
                height: 100%;
                margin: 10px;
                display: flex;
                flex-direction: column;
                h1{
                    font-size: $h1-fs-phone;
                    color: black;
                }
                p{
                    font-size: $p-fs-phone;
                    color: black;
                }
                a{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: #000000;
                    font-weight: bold;
                    font-size: 14px;
                    &:hover{
                        color: #000000;
                        transition: .2s ease;
                    }
                }
                ul{
                    li{
                        line-height: 2.1;
                        p{
    
                        }
                    }
                }
                .dark{
                    background-color: rgb(44, 44, 44);
                    color: white;
                    border: none;
                    border-radius: 30px;
                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
                .a-dark{
                    color: white;
                    &:hover{
                        color: white;
                    }
                }
                .light{
                    background-color: white;
                    color: black;
                    border: 1px solid #dfdfdf;;
                    border-radius: 30px;
                    width: 160px;
                    &:hover{
                        transition: .2s ease;
                        border:1px solid rgb(117, 117, 117);
                    }
                }
                .a-light{
                    
                }
                .link{
                    margin-top: 35px;
                    font-weight: 300;
                }
                button{
                    width: 140px;
                    height: 42px;
                    margin-top: 30px;
                    a{
                        font-size: .80rem;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
    
            }
        }
    }
    
    .container-3{
        display: flex;
        flex-direction: column;
        h1{
            font-size: $h1-fs-phone;
            margin: 20px 0px 20px 15px;
        }
        .container-main{
            overflow-x: scroll !important;
            width: 100%;
            height: 100%;
            display: flex;
            .card{
                padding: 15px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .a-first{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 14rem;
                        height: 18rem;
                    }   
                }
                button{
                    background-color: #f0f0f0;
                    position: relative;
                    width: 44%;
                    height: 39px;
                    bottom: 78px;
                    left: 65px;
                    border-radius: 50px;
                    border: none;
                    font-weight: bold;
                    font-size: 13px;
                   &:hover{
                       background-color: #dfdfdf;
                       transition: .2s ease;
                   }
    
                    a{
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    
    .container-4{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        overflow-x: scroll !important;
        h1{
            font-size: $h1-fs-phone;
            font-weight: bolder;
            margin: 10px 0px 30px 15px;
    
        }
        .container-card-3{
            display: flex;
            width: 222vh;
            height: 40rem;
            .cards{
                display: flex;
                flex-direction: column;
                background-color: rgb(0, 0, 0);
                margin: 10px;
                width: 180rem;
                box-sizing: inherit !important;
                .a-cards{
                    width: 100%;
                    height: 60%;
                    text-decoration: none;
                    .cards-img{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .cards-text{
                padding: 20px;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                h2{
                    margin: 0;
                    padding: 0;
                    color: white;
                    font-size: $h1-fs-phone;
                }
                p{
                    color: white;
                    font-size: 15px;
                    margin-top: 6px;
                }
                button{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: none;
                    background: white;
                    a{
                        width: 100%;
                        height: 100%;
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: black;
                        }
                    }
                }
            }
            .cards-2{
                display: flex;
                flex-direction: column;
                margin: 10px;
                width: 180rem;
                background-color: #e4e5e8;
                .a-cards-2{
                    text-decoration: none;
                    width: 100%;
                    height: 60%;
                    .cards-img-2{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .cards-3{
                display: flex;
                flex-direction: column;
                margin: 10px;
                width: 180rem;
                background-color: #e9c9c6;
                .a-cards-3{
                    text-decoration: none;
                    width: 100%;
                    height: 60%;
                    .cards-img-3{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
    
            }
            .cards-text-2{
                padding: 20px;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                h2{
                    color: black;
                    font-size: $h1-fs-tab;
                }
                p{
                    color: black;
                    font-size: $p-fs-tab;
                }
                button{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: none;
                    background: black;
                    a{
                        width: 100%;
                        height: 100%;
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: white;
                        }
                    }
                }
            }
            .cards-text-3{
                padding: 20px;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                h2{
                    color: black;
                    font-size: $h1-fs-tab;
                }
                p{
                    color: black;
                    font-size: $p-fs-tab;
                }
                button{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: none;
                    background: black;
                    a{
                        width: 100%;
                        height: 100%;
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: white;
                        }
                    }
                }
    
            }
        }
    }
    
    .container-5{
        margin-bottom: 50px;
        margin-top: 100px;
        width: 100%;
        height: 100%;
    
        .main{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            .slide-principal{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .slide{
                    border: 1px solid white;
                    padding: 30px;
                    flex: 1 1 auto;
                    background-color: rgba(245,245,245,1);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    svg{
                        width: 23px;
                        height: 21px;
                    }
                    h5{
                        font-size: 16px;
                        font-weight: bolder;
                        margin: 0;
                        padding: 3px;
                    }
                    p{
                        text-align: center;
                        font-size: 14px;
                    }
                    a{
                        color: $p-color;
                        font-size: 14px;
                    }
                }
            }
            .second-slide{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                .slide{
                    border: 2px solid white;
                    background-color: rgba(245,245,245,1);
                    width: 100%;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    svg{
                        width: 23px;
                        height: 21px;
                    }
                    h5{
                        margin: 0;
                        padding: 3px;
                        font-size: 16px;
                        font-weight: bolder;
                    }
                    p{
                        font-size: 14px;
                        text-align: inherit;
                    }
                    a{
                        color:$p-color;
                        font-size: 14px;
                    }
                }
            
            }
        }
    }
    
    .container-6{
        width: 100%;
        height: 100%;
        .container-pre-text{
            width: 100%;
            display: flex;
            flex-direction: column;
            .container-pre-text-text{
                width: 70%;
                h1{
                    font-size: 1.3rem;
                }
    
            }
            .container-button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin-top: 5px;
                    width: 65%;
                    font-size: $p-fs-tab;
                    color: $p-color;
                }
                button{
                    border-radius: 30px;
                    padding: 5px 7px 5px 7px;
                    border: 1px solid rgb(134, 134, 134);
                    background-color: white;
                    &:hover{
                        border: 1px solid #3f3f3f;
                        transition: .2s ease;
                    }
    
                    a{
                        font-size: 10px;
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
    
                    }
                }
            }
    
        }
        .container-img{
            margin-top: 50px;
            margin-bottom: 100px;
            width: 100%;
            display: grid;
            grid-template-areas: 
            "five five"
            "one tree "
            "two tree"
            "two four";
            gap: 20px;
            .card-image-1{
                grid-area: one;
    
                a{
    
                    img{
                        width: 100%;
                        height: 100%;
    
                    }
                }
            }
            .card-image-2{
                grid-area: two;
                a{
    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card-image-3{
                grid-area: tree;
                a{
    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card-image-4{
                grid-area: four;
                a{
    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card-image-5{
                grid-area: five;
                a{
    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    
    .container-7{
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .content-img{
            img{
                width: 100%;
                height: 28rem;
                object-fit: cover;
            }
        }
        .content-text{
            padding: 48px;
            position: relative;
            bottom: 10px;
            width: auto;
            background-color: rgb(0, 41, 82);
            h1{
                color: white;
                font-size: $h1-fs-phone;
                margin-bottom: 10px;
            }
            p{
                color: white;
                font-size: $p-fs-phone;
            }
            button{
                margin-top: 40px;
                border-radius: 30px;
                border: none;
                padding: 10px 17px 10px 17px;
                a{
                    font-size: 13px;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
    

    header #promo a {
        margin-left: 10px;
        font-size: 9px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

}
