footer {
    background-color: rgb(236, 236, 236);
    margin-top: 3rem;
    * {
        margin: 0;
    }
    .footer-container {
        margin-left: 7rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
        .footer {
            .footer-main {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                .footer-links {
                    display: flex;
                    gap: 2rem;
                    .footer-links-left {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 25%;
                        gap: 2rem;
                        padding-right: 5rem;
                        .footer-links-left-item{
                            h3{
                                font-size: 16px;
                            }
                            display: flex;
                            flex-direction: column;
                            gap: .6rem;
                            p{
                                font-size: 14px;
                            }
                            p {
                                a {
                                    font-size: 14px;
                                    color: rgb(58, 58, 58);
                                    &:hover {
                                        color: black;
                                    }
                                }
                            }
                            .button {
                                color: white;
                                background-color: black;
                                padding: 0.4rem;
                                width: 7.3rem;
                                border-radius: 1.3rem;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 13px;
                                font-weight: bolder;
                                height: 1.8rem;
                                &:hover {
                                    background-color: rgba(19, 19, 19, 0.8);
                                }
                            }
                        }
                    }
                    .footer-link-right {
                        flex-basis: 75%;
                        .main-ul {
                            display: flex;
                            list-style-type: none;
                            justify-content: space-evenly;
                            gap: 0.6rem;
                            .main-li {
                                list-style: none;
                                flex-basis: 25%;
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;
                                h3{
                                    font-size: 15px;
                                }
                                ul {
                                    font-size: 13.5px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1rem;
                                    list-style-type: none;
                                    padding: 0;
                                }
                                a {
                                    text-decoration: none;
                                    color: rgb(19, 19, 19);
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }    
                }
                .footer-utilities {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .icon-bar {
                        display: flex;
                        gap: 1.5rem;
                        align-items: center;
                        .icon-bar-social {
                            ul {
                                display: flex;
                                gap: 1.5rem;
                                list-style-type: none;
                                align-items: center;
                                padding: 0;
                                svg {
                                    border: 1px solid rgb(202, 202, 202);
                                    border-radius: 50%;
                                    padding: 0.3rem;
                                    box-sizing: content-box;
                                    &:hover {
                                        border-color: rgb(19, 19, 19);
                                    }
                                }
                            }
                        }
                        .icon-bar-payment {
                            ul {
                                display: flex;
                                gap: 1.5rem;
                                list-style-type: none;
                                align-items: center;
                                padding: 0;
                                img {
                                    border: 1px solid rgb(202, 202, 202);
                                    border-radius: 10%;
                                    padding: 0.3rem;
                                    height: 1.3rem;
                                }
                            }
                        }
                    }
                    .change-langueges-container {
                        .change-langueges {
                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                color: #131313;
                                gap: 0.5rem;
                                border: 1px solid #cacaca;
                                border-radius: 1rem;
                                padding: 0.3rem;
                                width: 8rem;
                                font-weight: 600;
                                font-size: 13px;
                                &:hover {
                                    border-color: rgb(19, 19, 19);
                                }
                            }
                        }
                    }
                }
            }  
        }
        .footer-pie {
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            .footer-pie-copyright{
                p{
                    font-size: 12px;
                }
            }
            .footer-pie-link {
                ul {
                    display: flex;
                    list-style-type: none;
                    gap: 1rem;
                    li {
                        a {
                            color: rgb(19, 19, 19);
                            text-decoration: none;
                            font-size: 12px;
                            &:hover {
                                text-decoration: underline;
                                color: rgb(58, 58, 58);
                            }
                        }
                    }
                }
            }
        }
    }
}
.tablet-phone-arrow-down{
    display: none;
}



@media screen and (max-width: 1150px){
    footer .footer-container {
        margin-left: 0;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }
    footer .footer-container .footer .footer-main .footer-utilities {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    footer .footer-container .footer .footer-main .footer-links {
        display: flex;
        gap: 0rem;
    }
    footer .footer-container .footer .footer-main .footer-links .footer-links-left {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        gap: 1rem;
        padding-right: 1rem;
    }
    footer .footer-container .footer .footer-main .footer-links .footer-link-right .main-ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        gap: 1rem;
        text-align: center;
    }
    .icon-bar-social{
        position: relative;
        bottom: 46px;
    }
    .icon-bar-payment{
        position: relative;
        right: 301px;
        top: 15px;
    }
    .change-langueges-container{
        position: relative;
        right: 112px;
        top: 15px;
    }
    footer .footer-container .footer-pie {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 900px){
    .tablet-phone-arrow-down{
        display:inline;
    }
    footer .footer-container .footer .footer-main .footer-links {
        margin-top: 38px;
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
    footer .footer-container .footer .footer-main .footer-links .footer-link-right .main-ul {
        display: flex;
        list-style-type: none;
        gap: 0rem;
        text-align: center;
        flex-direction: column;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    

   footer .footer-container .footer .footer-main .footer-links .footer-link-right .main-ul .main-li {
        list-style: none;
        flex-basis: 25%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        border-bottom: 1px solid #bdbbbb;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
   footer .footer-container .footer .footer-main .footer-links .footer-link-right .main-ul .main-li h3 {
    font-size: 14px;
    height: 6rem;
    display: flex;
    align-items: center;
    }  
    footer .footer-container .footer .footer-main .footer-links .footer-link-right .main-ul .main-li ul {
        font-size: 13.5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        display: none;
    }
    
    .footer-link-right .main-ul:first-child{
        border-top: 1px solid #bdbbbb;
    }
    
    
    footer .footer-container .footer-pie .footer-pie-link ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1070px){
    footer .footer-container .footer .footer-main .footer-utilities .icon-bar .icon-bar-payment ul {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
    }
    .icon-bar-social {
        position: relative;
        bottom: 67px;
        display: flex;
    }
}
@media screen and (max-width: 801px){
    .icon-bar-social {
        position: relative;
        bottom: 99px;
        display: flex;
    }
}
@media screen and (max-width: 728px){
    .icon-bar-social {
        position: relative;
        bottom: 137px;
        display: flex;
    }

    .container-5 .main .slide-principal .slide {
        border: 2px solid white;
        padding: 30px;
        flex: 1 1 auto;
        background-color: whitesmoke;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    footer .footer-container .footer .footer-main .footer-utilities .change-langueges-container .change-langueges a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #131313;
        gap: 0.5rem;
        border: 1px solid #cacaca;
        border-radius: 1rem;
        padding: 0.3rem;
        width: 7rem;
        font-weight: 600;
        font-size: 11px;
    }
}

@media screen and (max-width: 480px){
    footer .footer-container .footer .footer-main .footer-utilities .icon-bar .icon-bar-payment ul img {
        border: 1px solid #cacaca;
        border-radius: 10%;
        padding: 0.3rem;
        height: 1rem;
    }
    footer .footer-container .footer .footer-main .footer-utilities .change-langueges-container .change-langueges a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #131313;
        gap: 0.5rem;
        border: 1px solid #cacaca;
        border-radius: 1rem;
        padding: 0.3rem;
        width: 6rem;
        font-weight: 600;
        font-size: 9.3px;
    }
}






