@font-face
  font-family: "Noto IKEA"
  font-style: italic
  font-weight: 400
  font-display: swap
  src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400i.latin-ext.7ed5b4fc.woff2)
  format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

/* latin */

  &
    font-family: "Noto IKEA"
    font-style: italic
    font-weight: 400
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400i.latin.a15d672b.woff2)
    format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;

/* latin-ext */

  &
    font-family: "Noto IKEA"
    font-style: italic
    font-weight: 700
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700i.latin-ext.c6db488c.woff2)
    format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

/* latin */

  &
    font-family: "Noto IKEA"
    font-style: italic
    font-weight: 700
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700i.latin.f77e6ad9.woff2)
    format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;

/* latin-ext */

  &
    font-family: "Noto IKEA"
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400.latin-ext.14a7297a.woff2)
    format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

/* latin */

  &
    font-family: "Noto IKEA"
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400.latin.16880ce8.woff2)
    format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;

/* latin-ext */

  &
    font-family: "Noto IKEA"
    font-style: normal
    font-weight: 700
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700.latin-ext.3934340f.woff2)
    format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

/* latin */

  &
    font-family: "Noto IKEA"
    font-style: normal
    font-weight: 700
    font-display: swap
    src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700.latin.5d09a799.woff2)
    format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;

body
  margin: 0
  padding: 0

$element-margin: 10rem
$element-margin-right: 2rem

ul
  padding-left: 0

#button-arrow-up
  background-color: black
  width: 36px
  height: 36px
  border-radius: 50%
  position: fixed
  bottom: 2rem
  left: 1rem
  display: flex
  align-items: center
  justify-content: center
  margin-left: 2rem

#promo
  background-color: black
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 2rem

  a
    margin-left: 10px
    font-size: small
    color: white
    text-decoration: none

    &:hover
      text-decoration: underline

nav
  margin-left: $element-margin
  margin-right: $element-margin-right

.header
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between


  &-link
  ul
    padding-left: 0
    list-style-type: none
    display: flex
    justify-content: space-between
    align-items: center

    li
      .btn-link
        background-color: transparent
        border: none
        display: flex
        align-items: center
        width: 250px

      .text-information
        margin-left: 8px

    li a span
      margin: 0.5rem

.header-hamburger
  position: fixed
  margin-left: -5rem
  margin-top: 0px

.header-logo
  justify-self: flex-start

.header-search-bar
  form input
    height: 30px
    border: none
    min-width: 300px
    width: 100%
    border-radius: 50px
    background-color: rgb(231, 230, 230)
    justify-self: flex-start

#logo-container
  flex-basis: 50%
  display: flex
  align-items: center

  .header-search-bar
    width: 100%
    margin-left: 15px

.header-link-container
  ul
    list-style: none
    display: flex
    padding-left: 0

    li a
      font-weight: 800
      margin-left: 15px
      text-decoration: none
      color: black

    li a:hover
      text-decoration: underline

      border-bottom: 1px solid #dfdfdf

footer
  margin-left: $element-margin
  margin-right: $element-margin-right

.footer-container
  // box-sizing: border-box;
  display: flex
  flex-direction: column
  gap: 3rem
  padding: 2rem
  .footer
    h3
      font-size: 16px


    &-main
    display: flex
    flex-direction: column
    gap: 4rem

      &-links
    display: flex
    gap: 2rem

        &-links-left
    display: flex
    flex-direction: column
    flex-basis: 20%
    gap: 2rem
    padding-right: 5rem

          &-links-left-item
    display: flex
    flex-direction: column
    gap: 1rem
    p
      font-size: 14px
      a
        color: rgb(58, 58, 58)
        &:hover
          color: black

          .button
            display: flex
            justify-content: center
            align-items: center
            border: none
            color: white
            background-color: black
            padding: 1rem
            width: 9rem
            height: 0.8rem
            border-radius: 2rem
            text-decoration: none
            &:hover
              background-color: rgba(19, 19, 19, 0.8)

        .footer-link-right
          flex-basis: 80%
          .main-ul
            margin-top: 0
            display: flex
            list-style-type: none
            justify-content: space-evenly
            gap: 1rem
            .main-li
              list-style: none
              flex-basis: 25%
              display: flex
              flex-direction: column
              gap: 2rem
              ul
                display: flex
                flex-direction: column
                gap: 1.5rem
                list-style-type: none
                padding: 0

              a
                font-size: 14px
                text-decoration: none
                color: rgb(19, 19, 19)
                &:hover
                  text-decoration: underline

      .footer-utilities
        display: flex
        justify-content: space-between
        align-items: center
        .icon-bar
          display: flex
          gap: 1.5rem
          align-items: center

    &-social
    ul
      display: flex
      gap: 1.5rem
      list-style-type: none
      align-items: center
      padding: 0
      svg
        border: 1px solid rgb(202, 202, 202)
        border-radius: 50%
        padding: 0.3rem
        box-sizing: content-box
        &:hover
          border-color: rgb(19, 19, 19)


    &-payment
    ul
      display: flex
      gap: 1.5rem
      list-style-type: none
      align-items: center
      padding: 0
      img
        border: 1px solid rgb(202, 202, 202)
        border-radius: 10%
        padding: 0.3rem
        height: 1.3rem

        .change-langueges-container
          .change-langueges
            a
              display: flex
              align-items: center
              text-decoration: none
              color: rgb(19, 19, 19)
              gap: 0.5rem
              border: 1px solid rgb(202, 202, 202)
              border-radius: 1rem
              padding: 0.3rem
              width: 9rem
              &:hover
                border-color: rgb(19, 19, 19)

  .footer-pie
    display: flex
    justify-content: space-between

    &-link
    ul
      display: flex
      list-style-type: none
      gap: 1rem
      font-size: 14px
      li
        a
          color: rgb(19, 19, 19)
          text-decoration: none
          font-size: 0.9rem
          &:hover
            text-decoration: underline
            color: rgb(58, 58, 58)

@media screen and (max-width: 1200px)
  .footer-container
    .footer

    &-main

      &-utilities
    .icon-bar
      flex-direction: column
      align-items: flex-start

@media screen and (max-width: 1450px)
  .header
    position: relative
    flex-direction: column
    align-items: flex-start

  #logo-container
    width: 80%

  .header-profile-link
    position: absolute
    top: 10px
    right: 90px

  .header-wish-list
    position: absolute
    top: 10px
    right: 60px

  .header-cart
    position: absolute
    top: 10px
    right: 30px

@media screen and (max-width: 850px)
  #logo-container
    *
      margin: 2px

      width: 100%
      display: flex
      flex-direction: column
    .header-logo
      align-self: flex-start

    .header-search-bar
      margin-left: 0
      width: 100%

  .header-link
    ul
      flex-wrap: wrap

  .footer-container
    padding: initial

    .footer-links

    &-left
    padding-right: 0 !important

    .footer-link-right
      .main-ul
        flex-wrap: wrap
        justify-content: space-between !important

    .footer-utilities
      flex-wrap: wrap

      .icon-bar

    &-social
    ul
      flex-wrap: wrap
      margin-bottom: 0


    &-payment
    flex-wrap: wrap

    ul
      flex-wrap: wrap

    .footer-pie
      flex-wrap: wrap

    &-link
    flex-wrap: wrap
    ul
      flex-wrap: wrap

@media screen and (max-width: 1150px)
  #button-arrow-up
    display: none

  footer,
  nav,
  main,
  .footer-container
    margin-left: 2rem
    margin-right: 2rem

  .footer-links
    flex-wrap: wrap


    &-left
    flex-basis: 100% !important


      &-left-item
    *
      margin: 2px

    .footer-link-right
      flex-basis: 100% !important
      flex-wrap: wrap

  .header-hamburger
    position: absolute
    top: 10px
    right: 5px
