main {
  margin-left: 10rem;
  margin-right: 10rem;
}

#delivery-offer {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#delivery-offer picture {
  margin-right: 0;
  width: 60%;
}

#delivery-offer picture img,
#delivery-offer picture source {
  width: 100%;
  height: 100%;
}

#delivery-offer #delivery-description {
  margin-left: 0;
  padding: 2rem;
  width: 40%;
  background-color: #142b51;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delivery-offer #delivery-description p {
  margin-top: 0;
  line-height: 1.5rem;
}

#delivery-offer #delivery-description a {
  color: white;
}

#delivery-offer #delivery-description #delivery-option {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#delivery-offer #delivery-description #delivery-option a {
  font-weight: bold;
  line-height: 2rem;
}

#delivery-offer #delivery-description #disclaimer {
  font-size: 9px;
}

/*section*/
/*1*/
section {
  margin-bottom: 6rem;
}

#organized-life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#organized-life .sec-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#organized-life .sec-description h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0;
}

#organized-life .sec-description h2 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  font-weight: lighter;
  font-size: 18px;
  color: #5e5e5e;
}

#organized-life .sec-description a {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  color: black;
  text-decoration: none;
  border: 1px solid lightblue;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

#organized-life .sec-description a:hover {
  border: 1px solid black;
}

#organized-life #sec-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}

#organized-life #sec-img-container div {
  position: relative;
}

#organized-life #sec-img-container img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#organized-life #sec-img-container #image1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
}

#organized-life #sec-img-container #bag {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

#organized-life #sec-img-container #shoes {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  grid-row: 5/10;
}

#organized-life #sec-img-container #bookshelf {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

#organized-life #sec-img-container #clothes {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
}

#organized-life #sec-img-container .article-in-img {
  position: absolute;
  top: 20rem;
  left: 10rem;
}

#organized-life #sec-img-container .article-in-img label {
  visibility: visible;
  background-color: white;
  color: white;
  border-radius: 50%;
}

#organized-life #sec-img-container .article-in-img p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: collapse;
  background-color: white;
}

#organized-life #sec-img-container .article-in-img label:hover ~ p {
  visibility: visible;
}

#now-ikea {
  /*  .svg-container{ Don't work 
        margin-bottom: -150px;
        width: 36px;
        height: 36px;
        fill: white;
        background-color: black;
        border-radius: 50%;
        border:none;
    }*/
}

#now-ikea #container-sec2 {
  width: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#now-ikea #container-sec2 a {
  text-decoration: none;
  color: black;
}

#now-ikea #container-sec2 .now-container {
  min-width: 350px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  position: relative;
  margin-bottom: 120px;
}

#now-ikea #container-sec2 .now-container img {
  max-width: 100%;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

#now-ikea #container-sec2 .now-container svg {
  height: 24px;
  width: 24px;
}

#now-ikea #container-sec2 .now-container h1,
#now-ikea #container-sec2 .now-container h2,
#now-ikea #container-sec2 .now-container .arrow-btn-sec2 {
  margin: 0;
  margin-left: 20px;
}

#now-ikea #container-sec2 .now-container h2 {
  font-size: 16px;
  font-weight: lighter;
  color: #111111;
  margin-bottom: 100px;
}

#now-ikea #container-sec2 .decoration {
  background-color: #ffd6d6;
}

#now-ikea #container-sec2 .new-offers {
  background-color: #a3bbc3;
}

#now-ikea #container-sec2 .hembjuden {
  background-color: #b0a1c9;
}

#now-ikea #container-sec2 .low-price {
  background-color: #c1b1b6;
}

.arrow-btn-sec2 {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overflow-container::-webkit-scrollbar,
#now-ikea::-webkit-scrollbar {
  height: 8px;
}

.overflow-container::-webkit-scrollbar-thumb,
#now-ikea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 25px;
  width: 20%;
}

.overflow-container::-webkit-scrollbar-track,
#now-ikea::-webkit-scrollbar-track {
  background: #b3b1b1;
  border-radius: 10px;
}

.overflow-container {
  overflow-x: auto;
}

.sec-3-4 .container-scroll-little {
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-3-4 .container-scroll-little a {
  text-decoration: none;
}

.sec-3-4 .container-scroll-little a .blue,
.sec-3-4 .container-scroll-little a .red {
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-3-4 .container-scroll-little a .blue {
  background-color: #002952;
}

.sec-3-4 .container-scroll-little a .red {
  background-color: #e00751;
}

.sec-3-4 .container-scroll-little a .blue > .arrow-btn-sec-3-4,
.sec-3-4 .container-scroll-little a .red > .arrow-btn-sec-3-4 {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sec-3-4 .container-scroll-little a .blue > .arrow-btn-sec-3-4 svg,
.sec-3-4 .container-scroll-little a .red > .arrow-btn-sec-3-4 svg {
  width: 30px;
  height: 30px;
}

.sec-3-4 .container-scroll-little .element-scroll {
  width: 250px;
  height: 100%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #f5f5f5;
}

.sec-3-4 .container-scroll-little .element-scroll button {
  width: 150px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  border: none;
  border-radius: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.sec-3-4 .container-scroll-little .pub__image {
  width: 100%;
  height: 100%;
}

.sec-3-4 #product-availability {
  background-color: #f5f5f5;
  height: 200px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
}

.btn-black {
  width: 180px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

/*section 5*/
#suggested-for-you #suggested-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150%;
}

#suggested-for-you #suggested-img-container a {
  text-decoration: none;
  color: black;
}

#suggested-for-you #suggested-img-container .suggested-element {
  min-width: 280px;
  height: 100%;
  position: relative;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#suggested-for-you #suggested-img-container .suggested-element .suggested-img {
  width: 100%;
  height: 100%;
}

#suggested-for-you #suggested-img-container .suggested-element h1 {
  font-size: 18px;
  margin-bottom: 0;
}

#suggested-for-you #suggested-img-container .suggested-element h2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 2px;
}

#suggested-for-you #suggested-img-container .suggested-element p {
  margin-top: 0;
  font-size: 26px;
  font-weight: 900;
}

#suggested-for-you #suggested-img-container .suggested-element .most-sell {
  position: absolute;
  padding: 2px;
  background-color: #e40101;
  color: white;
  font-weight: bold;
  top: 30px;
  left: 0;
}

#suggested-for-you #suggested-img-container .suggested-element .most-sell h1 {
  margin-top: 0;
}

#suggested-for-you #suggested-img-container .suggested-element .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  height: 30px;
}

#suggested-for-you #suggested-img-container .suggested-element .like svg {
  width: 26px;
  height: 26px;
}

#suggested-for-you #suggested-img-container .suggested-element div:nth-child(2) {
  background-size: cover;
}

#suggested-for-you #suggested-img-container .suggested-element #kallax1 {
  background-image: url(https://www.ikea.com/it/it/images/products/kallax-scaffale-bianco__1051342_pe845158_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #friheten {
  background-image: url(https://www.ikea.com/it/it/images/products/friheten-divano-letto-angolare-contenitore-skiftebo-grigio-scuro__0833845_pe603738_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #kleppstad {
  background-image: url(https://www.ikea.com/it/it/images/products/kleppstad-guardaroba-con-3-ante-bianco__0753597_pe748785_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #tradfri {
  background-image: url(https://www.ikea.com/it/it/images/products/tradfri-pulsante-scorciatoia-bianco__0807046_pe770217_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #kallax2 {
  background-image: url(https://www.ikea.com/it/it/images/products/kallax-scaffale-bianco__1084741_pe859827_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #pax {
  background-image: url(https://www.ikea.com/it/it/images/products/pax-guardaroba-bianco-hasvik-bianco__0856023_pe554738_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element #malm {
  background-image: url(https://www.ikea.com/it/it/images/products/malm-struttura-letto-alta-2-contenitori-bianco-loenset__0861262_pe662046_s5.jpg?f=m);
}

#suggested-for-you #suggested-img-container .suggested-element .add-to-cart {
  visibility: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 40px;
  right: 20px;
  background-color: #0058a3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#suggested-for-you #suggested-img-container .suggested-element:hover .add-to-cart {
  visibility: visible;
}

#suggested-for-you #suggested-img-container .suggested-element:hover .suggested-img {
  visibility: collapse;
}

#suggested-for-you #suggested-img-container .suggested-element:hover .like {
  visibility: visible;
}

#suggested-for-you #suggested-img-container .suggested-img {
  width: 100%;
  height: 100%;
}

/*section 6*/
#ideas a {
  text-decoration: none;
  color: black;
}

#ideas #btn-ambiente {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

#ideas #btn-ambiente button {
  cursor: pointer;
  margin-right: 20px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  height: 50px;
  min-width: 120px;
  font-weight: bold;
  border: none;
}

#ideas #img-ideas-container {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ideas #img-ideas-container img {
  width: 100%;
  margin-bottom: 10px;
}

#ideas #img-ideas-container #left-clm {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-right: 10px;
}

#ideas #img-ideas-container #center-clm {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-right: 10px;
  margin-top: -100px;
  z-index: 0;
}

#ideas #img-ideas-container #right-clm {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

#ideas #btn-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#important-information #container-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#important-information #container-general .information-container {
  width: 100%;
  position: relative;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  margin-right: 15px;
}

#important-information #container-general .information-container a {
  text-decoration: none;
  color: black;
}

#important-information #container-general .information-container img {
  min-width: 463px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#important-information #container-general .information-container h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 150px;
}

#important-information #container-general .information-container h1,
#important-information #container-general .information-container h2,
#important-information #container-general .information-container a:last-child {
  margin-left: 20px;
}

a:hover h1 {
  text-decoration: underline;
}

#disclaimer-end {
  width: 50%;
  color: #525252;
}

hr {
  color: gray;
  margin-top: 60px;
  margin-bottom: 60px;
}
/*# sourceMappingURL=style.css.map */